$--wite-colore:#ffffff;
$--blue-colore:#2196f3;
$--black-colore:#212121;
$--gray-colore: #757575;
$--font-Roboto: "Roboto";
$--font-Raleway: "Raleway";
$--font-weight-400: 400;
$--font-weight-500: 500;
$--font-weight-700: 700;
$--font-style-normal:normal;
$--transition-cubic-bezier:cubic-bezier(0.4, 0, 0.2, 1) ;
